:root{
    --main-color: rgb(48, 48, 56);
    --second-color: rgb(50, 53, 68);
    --hover-color: rgb(22, 163, 219);
    --text-color: rgb(255, 255, 255);
    --second-text-color: rgb(191, 193, 200);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*************** header ***************/

.site-header{
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    padding: 40px 0;
}
.navbar-colum{
    display: flex;
    flex-direction: row;
}

.container .branding{
    color: var(--text-color);
    gap: 15px;
}

.branding .logo-type h1{
    font-size: 18px;
    margin: 0;
    font-weight: 700;
}
.branding .logo-type .site-description{
    font-size: 10px;
    color: var(--second-text-color);
}

/* <!-- responsive menu --> */
.menu-toggle{
    display: none;
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--text-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all ease-in-out .3s;
}

.menu-toggle:hover{
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
}


.menu .menu-item a{
    text-decoration: none;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    padding: 0px 25px;
    border-radius: 25px;
    border: 2px solid transparent;
    transition: all ease-in-out .3s;
}

.menu .menu-item a:hover{
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
}

/* .current-menu-item{
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    border-radius: 25px;
} */

/* <!-- responsive menu --> */

@media screen and (max-width: 996px) {
    .site-header{
        padding: 40px 0px 0px;
    }
    .site-header .navbar-colum{
        flex-direction: column;
        gap: 35px;
    }
    .menu-toggle{
        display: block;
    }
    .main-navigation .menu{
        display: none;
        max-height: 0px;
        overflow: hidden;
        flex-direction: column;
        text-align: center;
        background-color: var(--second-color);
        border-radius: 15px;
        transition: all ease-in-out .3s;
    }
    /* to add it from js */
    .main-navigation .menu.open {
        max-height: 278px;
    }

    .main-navigation .menu .menu-item{
        border-bottom: 1px solid var(--second-text-color);
        padding: 15px 0;
    }
    .main-navigation .menu .menu-item:last-child{
        border-bottom: none;
    }
}